@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
a {
  color: #626262;
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
  background-color: transparent;
}
nav{
    z-index: 1020 !important;
}

/* Hyperlinks */
.links {
  font-style: medium;
  letter-spacing: 0.1px;
}

/* Buttons */
.btn-custom {
  width: 100px;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  border-radius: 32px;
}

/* Flexbox */
.display-center {
  display: flex;
  align-items: center;
}

/* Navbar */
#navbar {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  position: fixed;
  width: 100%;
  transition: 0.5s;
}

/* Hero Section */
.head-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.head-group p {
  font-weight: bold;
}

/* Features Section */
.features-section {
  background-color: #f3f3f3;
}
.card-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card-title span {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #000;
}
.card-title h5,
.card-text p {
  margin: 0;
}

/* CTA Section */
.cta {
  background-image: url("https://cdn.pixabay.com/photo/2014/09/30/11/55/castle-467116_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.cta::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
  z-index: 1 !important;
}
.cta * {
    z-index: 2; 
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Hero Section */
  .hero-section-image img {
    width: 100%;
    height: 305px !important;
    border-radius: 12px;
  }

  /* About us Section */
  .about-us-image img {
    width: 100%;
    height: 195px !important;
    border-radius: 12px;
  }

  /* CTA Section */
  .cta {
    padding-left: 64px !important;
    padding-right: 64px !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .links {
    line-height: 24px;
    display: block;
    border-bottom: 1px solid #e5ebee;
    padding: 15px;
  }
  .btn-menu,
  .btn-hide {
    font-size: 24px;
    color: #161616;
  }
  /* Navbar */
  #navbar .container-xl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow-x: hidden;
  }
  .head-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c4c5c4;
    padding: 20px;
  }
  .navbar-items {
    display: block !important;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transition: 0.5s;
  }
  .navbar-items.show {
    left: 0;
  }
  .list-menu {
    padding: 10px 20px;
  }
  .btn-menu {
    display: block !important;
  }

  /* Hero Section */
  .hero-section {
    padding: 6rem 0 24px 0 !important;
  }
  .hero-section-image img {
    width: 100%;
  }
  .head-group .btn-custom {
    margin-bottom: 1rem;
  }

  /* Features section */
  .features-section {
    padding: 0 !important;
  }
  .card-features {
    padding: 20px 12px;
    border-bottom: 1px solid #999999;
  }

  /* About us Section */
  .about-us-section {
    background-color: #000;
    padding: 24px 0;
  }
  .about-us-image {
    margin-bottom: 14px !important;
  }
  .about-us-image img {
    width: 100%;
    height: 305px;
  }
  .about-us-text {
    color: #fff;
    display: block !important;
    text-align: center;
  }
  .about-us-text h4 {
    width: 100%;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.1px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .btn-custom {
    margin: 0 auto;
  }
  /* Hero Section */
  .hero-section {
    padding: 7rem 0 24px 0;
  }
  .hero-section-text {
    text-align: center;
  }
  .hero-section-title {
    font-size: 40px !important;
    font-weight: 900;
    line-height: 48.5px !important;
  }
  .head-group {
    display: block;
    justify-content: center;
    text-align: center;
  }
  .hero-section-text h1,
  .hero-section-text h5,
  .head-group {
    margin-bottom: 1.5rem !important;
  }
  .hero-section-image img {
    height: 450px;
  }

  /* Features Section */
  .features-section {
    padding: 40px 0;
  }

  /* About us Section */
  .about-us-section {
    padding: 24px 0;
  }
  .about-us-image {
    margin-bottom: 64px;
  }
  .cta{
    padding: 158px 0;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 768px) and (max-width: 1399.98px) {
  .head-menu,
  .btn-menu {
    display: none;
  }
  /* Navbar */
  #navbar .container-xl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }
  .navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  /* Hero Section */
  .hero-section {
    padding: 8rem 0 64px 0;
  }
  .hero-section-text {
    display: block;
  }
  .hero-section-title {
    font-size: 56px;
    font-weight: bold;
    letter-spacing: -1px;
  }
  .hero-section-text h1,
  .hero-section-text h5 {
    margin-bottom: 24px;
  }
  .head-group p {
    margin: 0;
  }
  .hero-section-image {
    padding: 10px;
  }
  .hero-section-image img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }

  /* Feature Section */
  .features-section {
    padding: 64px 0;
  }

  /* About us Section */
  .about-us-section {
    background-color: #000;
    padding: 64px 0;
  }
  .about-us .container-xl .row {
    align-items: center;
  }
  .about-us-image img {
    width: 100%;
    height: 450px;
    border-radius: 12px;
  }
  .about-us-text {
    color: #fff;
    padding-left: 2rem;
  }
  .about-us-text h4 {
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.1px;
  }
  .about-us-text ul li {
    padding: 8px 0;
  }

  /* Card Testimonials  */
  .swiper {
    width: 100%;
    height: 300px;
  }
  .testimonials {
    padding: 64px 0;
  }
  .card-testimonials {
    background-color: #f3f3f3;
    padding: 24px;
    border: none;
  }
  .testimonials-head {
    margin-bottom: 24px;
  }
  .testimonials-head img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  /* CTA Section */
  .cta {
    padding: 13rem 0;
  }
}
