@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
a {
  color: #626262;
  text-decoration: none;
  cursor: pointer;
}
#navbar {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  position: fixed;
  top: 0;
  width: 100%;
}
.links {
  font-style: medium;
  letter-spacing: 0.1px;
}
button {
  border: none;
  background-color: transparent;
}
.display-center {
  display: flex;
  align-items: center;
}
.btn-custom {
  width: 100px;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  border-radius: 32px;
}
.head-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  #navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow-x: hidden;
  }
  .head-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c4c5c4;
    padding: 20px;
  }
  .navbar-items {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transition: 0.5s;
  }
  .navbar-items.show {
    left: 0;
  }
  .list-menu {
    padding: 10px 20px;
  }
  .links {
    line-height: 24px;
    display: block;
    border-bottom: 1px solid #e5ebee;
    padding: 15px;
  }
  .btn-menu,
  .btn-hide {
    font-size: 24px;
    color: #161616;
  }
  .hero-section {
    padding: 6rem 0 24px 0 !important;
    background-color: #f2f2fe;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .hero-section-title {
    font-size: 40px !important;
    font-weight: 900;
    line-height: 48.5px !important;
    text-align: center;
  }
  .hero-section-text h5 {
    text-align: center;
  }
  .head-group {
    display: block;
    justify-content: center;
    text-align: center;
  }
  .btn-custom {
    margin: 0 auto;
  }
  .hero-section {
    padding: 7rem 0 24px 0;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 576px) and (max-width: 1399.98px) {
  .head-menu,
  .btn-menu {
    display: none;
  }
  #navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }
  .navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .hero-section {
    background-color: #f2f2fe;
    padding: 8rem 0 64px 0;
  }
  .hero-section-text {
    display: block;
  }
  .hero-section-title {
    font-size: 56px;
    font-weight: bold;
    letter-spacing: -1px;
  }
  .hero-section-text h1,
  .hero-section-text h5 {
    margin-bottom: 24px;
  }
}
